.container__big-card{

  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;


}
.big-card__title a {
  text-decoration: none;
  color: white;
}

.big-card__description{
  margin-top: -22px;

}
